<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.school">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="10gTheBest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.School"
        tools:targetApi="31">
        <activity
            android:name=".ChatActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:label="@string/title_activity_chat" />
        <activity
            android:name=".javacode.NewAdminActivity"
            android:exported="false"
            android:label="Стать админом"
            android:noHistory="true" />
        <activity
            android:name=".javacode.TimeLessonsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".javacode.MainActivity" />
        </activity>
        <activity
            android:name=".javacode.MainActivity"
            android:exported="false"
            android:label="Главная" />
        <activity
            android:name=".javacode.SignInActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/noActionBarForSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".javacode.TimetableActivity"
            android:exported="false"
            android:label="Расписание">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".javacode.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>